* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --bg-light: #eeeeee;
}
body {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-color {
  background: var(--bg-light);
}
.col-6 img {
  width: 319px;
}
 .mb-05 {
    margin-bottom: 0.5rem;
 }
 