* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --bg-sky: #1559ED;
  --bg-dark: #3a4f66;
  --bg-light: #eeeeee;
}
body {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-light-color {
  background: var(--bg-light);
}
 .mb-05 {
    margin-bottom: 0.5rem;
 }
 .newz-logo{
  max-width: 319px;
 }
 .collapse{
  font-size: 12px;
 }
 .navbar-toggler-icon{
  width: 18px;
  height: 18px;
 }
 .container{
  padding-bottom: 0px;
 }
.nav-content{
  font: 700;
  padding: 0px 12px;
  text-decoration: none;
  color: var(--bg-dark);
}
.nav-icon{
  width: 15px;
  height: 15px;
  color: var(--bg-dark);
}
.nav-content:hover, .nav-icon:hover, .text-decoration-underline:hover{
  color: var(--bg-sky);
  cursor: pointer;
}
.card-title:hover{
  color: var(--bg-sky);
  cursor: pointer;
}
.card{
  gap: 8px;
}
.card-title{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.card-body{
  padding: 0px;
}
.btn-top{
  border-radius:2px;
  padding: 5px 12px;
  border: 0px solid;
  bottom: 25px;
  right: 25px;
  background-color: #192e3f;
}
.date{
  gap: 0.5rem;
  font-size: 12px;
}
.clr-dark{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #192A3D;
      font-weight: bold;

}
.active{
  color: var(--bg-sky);
}
.gap{
  gap: 2%;
}

@media (min-width: 1200px){
  .mt-xl-5 {
    margin-top: 4rem!important;
  }
  .py-5{
    padding: 60px 0px!important;
  }
  }
  @media (min-width: 768px){
    .py-5{
      padding: 60px 0px!important;
    } 
}
.back-to-top{
 color: white;
}
.overflow-hidden{
  overflow: hidden;
}
.card-img{
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
}
.card:hover .card-img{
  transform: scale(1);
}